html {
    scroll-behavior: smooth;
}

body {
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    min-height: 100%;
    max-width: 95%;
    background: white url(./Studios_Gif_Flat_web.gif) no-repeat right;
    /* justify-content: flex-start; */
  }

header {

}

nav {
    min-height: 10%;
    background-color: steelblue;
}

nav ul li{
    display: inline;
    width: 20%;
    padding: .5rem;
}

.treeofknowledge {

}

.currprojects {

}

.lateprojects {

}

.igfeed {

}

footer {
    min-height: 10%;
    background-color: steelblue;
}