html {
    scroll-behavior: smooth;
}

:root {
    --lav: #A4ADCB;
    --grey: #707070;
}

body {
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    margin: 0 auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    min-height: 100%;
    background: white;
  }
 


header {
    background-color: white;
    min-height: 5rem;
    text-align: center;
    line-height: 1.5;
}

 .logo {
     width: 80%;
     padding: 14px 10px 8px 10px;
}

.logocont {
    position: absolute;
    background-color: white;
    border: 1px solid #909090;
    width: 6rem;
    margin-top: -2.29rem;
    text-align: center;
    margin-left: 1.25rem;
}



a {
    text-decoration: none;
}

nav {
    padding-left: 8rem;
    min-height: 3rem;
    min-width: 100%;
    flex-direction: column;
    background-color: var(--lav);
    color: white;
    font-weight: bold;
    text-decoration: none;
}

nav ul{
    margin-left: 5rem;
}

nav ul li{
    display: inline;
    width: 20%;
    padding: 1rem;
    line-height: 1rem;
}

nav ul li:hover{
    background-color: var(--grey);
}

li a, a:hover, a:visited, a:active {
    text-decoration: none;
    color: white;
}

a:selected {
    border: 1px solid #909090;
}

main {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    width: 90%;
    /* text-align: center; */

}

h3 a, a:hover, a:visited, a:active {
    text-decoration: none;
    color: white;
}

h3 {
    min-height: 1rem;
    background-color: var(--lav);
    color: white;
    font-weight: bold;
    text-decoration: none;
    border: 1px solid var(--grey);
    padding: 1rem;
}

.About {
    width: 90%;
    text-align: left;
}

.profPic {
        width: 7rem;
        float: left;
        border: 1px solid var(--grey);
        margin-right: 1rem;
}

.animated {
    float: right;
    z-index: 2;
    position: relative;
    margin-top: -5rem;
    width: 30%;
}

 .knowledge{
    width: 90%;
    text-align: left;
 }

.treeofknowledge {
    display: flex;
    flex-wrap: wrap;
    /* justify-content: space-around; */
}

.know {
    width: 5rem;
    height: 3.75rem;
    border: var(--lav) solid 1px;
    border-radius: 5px;
    color: white;
    background-color: var(--grey);
    padding: 1.25rem 0rem 0rem 0rem;
    margin: .5rem;
    text-align: center;
    line-height: 1;
    flex: 1 0 10%
    font-size: 1em;
}

h4 {
    color: var(--grey);
    margin-left: .5rem;
}
.learn {
    width: 5rem;
    height: 3.75rem;
    border: var(--grey) solid 1px;
    border-radius: 5px;
    color: var(--grey);
    background-color: white;
    padding: 1.25rem 0rem 0rem 0rem;
    margin: .5rem;
    text-align: center;
    line-height: 1;
    flex: 1 0 10%
    font-size: 1em;
}

/* .currprojects {
    width: 90%;
    text-align: left;
} */



.lateprojects {
    width: 90%;
    flex-wrap: wrap;
    display: flex;
}

.project {
    /* border: 1px solid var(--grey); */
    border-radius: 10px;
    padding: 5px;
    margin: 5px;
    color: var(--grey);
    flex: 1 0 20%;
    max-width: 25%;
}

.lates {
    flex: 1 0 50%;
    max-width: 50%;
}

.title {
    line-height: 1.5;
    background-color: var(--grey);
    color: white;
    padding: .25rem;
    border-radius: 0px 0px 5px 5px;
}

/* .igfeed {
    width: 90%;
    text-align: left;
} */

footer {
    min-height: 10%;
    background-color: var(--lav);
    min-width: 100%;
    color: white;
    line-height: .5;
    text-align: center;
}

@media screen and (max-width: 992px) {
    .project {
        flex: 1 0 33%;
        max-width: 40%;
    }
}

@media screen and (max-width: 762px) {
    .project {
        flex: 1 0 100%;
        max-width: 90%;
    }
}