html {
    scroll-behavior: smooth;
}

body {
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    margin: 0;
    display: flex;
    flex-direction: column;
    min-height: 100%;
    /* justify-content: flex-start; */
  }

header {

}

nav {
    min-height: 10%;
    background-color: steelblue;
    width: 90%;
}



.treeofknowledge {

}

.currprojects {

}

.lateprojects {

}

.igfeed {

}

footer {
    min-height: 10%;
    background-color: steelblue;
    width: 90%;
}